body{
  min-width: 1000px
}


.navigate{
  display: inline-block;
  margin-left: 15%;
  margin-right: 15%;
}
.header{

  padding: 0;
  min-height: 350px;
  width: 1000px;
     margin-left: 15%;
     margin-right: 15%;
  display: inline-block;
  background-image: url('https://tehnoobzor.com/uploads/posts/2018-12/1544302871_preimuschestva-otkrytogo-ishodnogo-koda-kriptovalyuty.jpg');
}
.text{
  height: 250px;
  width: 200px;
  margin-top: 90px;
  margin-left: 780px;
  color: #fff;
  margin-top: 50px;
  font-family: cursive;
}

 .navigate li{
font-size: 20px;
  display: inline;
  text-decoration: none;
  margin-left: 20px;
  padding-top: 25px;
  color: #fff
}

.navigate li a{
font-size: 20px;
  display: inline;
  text-decoration: none;
  margin-left: 20px;
  /* padding-top: 45px; */
   color: #fff
}

.nav{
    margin-left: 15%;
    margin-right: 15%;
  text-align: center;
  width: 960.9px;
  height: 50px;
  background-color: #4A4A4A;
  display: inline-block;
  padding-top: 25px

}


.navigate li a:hover{
  text-shadow: 15px 15px #9DA9A9;
  text-decoration: underline;
}

.container{
  display: inline-block;
margin: 0px auto;
align-items: center;
justify-content: center;
}

.fot1 ul {
  text-align: center;
  display: inline-block;
}

.fot1 li{
  display: inline;
  text-decoration: none;
  margin-left: 30px;
}

.fot1{
  display: inline;
}
